<body style="margin: 0; padding: 0;">
  <table class="outer table" style="border-spacing: 15px;" align="center" border="0" cellpadding="0" cellspacing="0" width="600" >
    <tr class="content">
      <td style="padding: 0px 15px; border: 0.5px solid #CECECE; border-radius: 5px;" bgcolor="#ffffff">
        <table border="0" width="100%">
        <tr class="banner">
            <td align="center" bgcolor="#ffffff" style="border: 0.5px solid #000000; font-size: 2em; padding: 10px 0px 0px 0px; border-radius: 5px;">
                <img src="./images/gobet.png" width="150" height="60" >
            </td>
        </tr>
          <tr>
            <td>
              <p align="center" style="color: #000000; font-size: 20px; font-weight: bold;">Hello, {{name}}. Use o código abaixo para resetar a sua senha:</p>
        
              <div style="width: 300px; border: none; border-radius: 5px; background-color: #FDAE17; color: white; font-size: 30px; font-weight: bold; text-align: center; margin: 0 auto;">
                <div align="center" style="padding: 10px 0px 10px 0px;">{{code}}</div>
              </div>

              <br>

            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="footer">
      <td align="center" bgcolor="#000000" style="padding: 1px 0px; font-size: 1em; border-radius: 5px;">
        <p style="color: #ffffff;">&reg; Go Bet, 2024</p>
      </td>
    </tr>
  </table>
</body>
